@require "mixins.styl"
@require "normalize.css/normalize.css"
@require "type.css"

html {
	font 18px/28px "Proxima Nova", sans-serif
	color #243343
}

.page {
	min-width 480px
	overflow hidden
}

.svg-defs {
	position absolute
	top 0
	left 0
	width 1px
	height 1px
	overflow hidden
	opacity 0
}

.text-input {
	display inline-block
	vertical-align middle
	box-sizing border-box
	max-width 100%
	height 60px
	padding 0 24px
	border 1px solid #cfd2d7
	border-radius 999px
	background #fff
	transition .2s

	+placeholder() {
		opacity 1
		color #cfd2d7
	}

	&:focus {
		outline 0
		border-color #fff801
		box-shadow 0 0 0 1px #fff801
	}
}

.btn {
	display inline-block
	vertical-align middle
	box-sizing border-box
	max-width 100%
	padding 21px 42px
	border 0
	line-height 28px
	font-size 24px
	text-align center
	font-weight 600
	text-decoration none
	border-radius 999px
	background #fff801
	color #243343
	cursor pointer
	transition .14s linear

	&:hover {
		background #ffe501
	}

	&:active {
		background #f5dc00
	}
}

.btn_outline {
	padding 10px 20px
	font-size 15px
	border 1px solid #000
	// background #fbfbfc
	background #fff

	&:hover {
		background #f0f1f2
	}

	&:active {
		background #e5e6e9
	}
}

.link {
	position relative
	text-decoration none
	color inherit

	&::after {
		content ""
		position absolute
		bottom 0
		left 0
		right 0
		opacity .2
		height 1px
		background currentColor
		transition .2s
	}

	&:hover::after {
		opacity 0
	}
}

.price {
	font-size 24px
	font-weight 600

	&::after {
		content "\00A0\20BD"
	}
}

.day-numbers {
	margin 0
	padding 0
	list-style-type none
	font-size 0
	white-space nowrap

	li {
		display inline-block
		vertical-align middle
		width 11px
		height 11px
		border-radius 50%
		background currentColor

		&:not(:last-child) {
			margin-right 19px
		}
	}
}

.data-table {
	width 100%
	table-layout fixed
	border-collapse collapse

	th
	td {
		padding 13px 12px
		padding 13px 12px

		&:first-child {
			padding-left 0
			width 160px
		}

		&:last-child {
			padding-right 0
		}
	}

	th {
		padding-top    11px
		padding-bottom 11px
		font-size 16px
		text-align left
		font-weight normal
		color rgba(140, 148, 160, 0.6)
	}

	.form-section__text + & {
		margin-top -21px
	}
}

.container {
	position relative
	margin-left auto
	margin-right auto
	max-width 1172px
	padding-left  14px
	padding-right 14px
}

.inner-container {
	margin-left auto
	margin-right auto
	padding-left  14px
	padding-right 14px
	max-width 809px
}

.logo {
	margin 44px auto 42px
	display block
	width 158px
	height 178px
	overflow hidden
	white-space nowrap
	text-indent 100%
	color transparent
	user-select none
	background url("../img/logo.svg")
}

.section {
	position relative
	padding-top    108px
	padding-bottom 84px

	&__title {
		margin-top 0
		margin-bottom 45px
		text-align center
		font-size 36px
		font-weight 600

		&::after {
			content ""
			margin 47px auto 0
			display block
			width 56px
			height 3px
			background #ebedef
		}
	}
}

.header {
	position relative
	overflow hidden
	padding 96px 0 48px
	text-align center
	color #fff

	&::before {
		content ""
		position absolute
		bottom 24px
		top 0
		left 0
		right 50%
		margin-right -586px
		background #fff801
	}

	&::after {
		content ""
		position absolute
		top 24px
		bottom 0
		right 0
		left 50%
		margin-left -586px
		background url("../img/lines.svg") no-repeat 100% 0, url("../img/header.jpg") no-repeat 50% 50% #ff6481
		background-size auto, cover
	}

	&__inner {
		position relative
		z-index 1
	}

	&__title {
		position relative
		margin 0
		margin-bottom 34px
		font-size: 52px;
		line-height: 1.08;
		letter-spacing: 8px;
		font-weight: 600;
		text-transform uppercase
	}

	&__text {
		position relative
		display inline-block
		vertical-align top

		&::before
		&::after {
			content ""
			position absolute
			top 25px
			border: 3px dashed #fff801;
		}

		&::before {
			right 100%
			margin-right 26px
			width 170px
			height 100vh
			border-right 0
			border-bottom 0
			border-top-left-radius 30px
		}

		&::after {
			left 100%
			margin-left 14px
			width 100vw
			border-bottom 0
			border-right 0
			border-left 0
		}

	}

	&__action {
		position relative
		display inline-block
		vertical-align top

		&::after {
			content ""
			position absolute
			left 100%
			top 50%
			margin-top -11px
			margin-left 24px
			width 56px
			height 22px
			background url("../img/yellow-arrows.svg") no-repeat
		}
	}
}

.page-nav {
	position relative
	padding-top 92px
	text-align center

	&::after {
		content ""
		position absolute
		right 0
		bottom 6px
		width 65px
		height 11px
		background url("../img/crosses.svg") no-repeat
	}

	&::before {
		content ""
		position absolute
		left 0
		bottom 6px
		width 56px
		height 22px
		background url("../img/red-arrows.svg") no-repeat
	}

	&__link {
		margin 0 25px
		display inline-block
		vertical-align middle
		text-decoration none
		color inherit
		font-size 28px
		font-weight 600
		transition .2s

		&_active
		&:hover {
			color #ff2851
		}
	}
}

.info-block {

	&__inner {
		column-count 2
		column-gap 56px

		& p {
			margin 0 0 20px
		}
	}

	&::after {
		content ""
		margin-top 93px
		display block
		height 1px
		background #ebedef
	}
}

.programs-section {
	padding-top 93px
	padding-bottom 0

	&_no-pad {
		padding-top 0
	}
}

.features {
	padding-top 18px
	padding-bottom 36px
	text-align center
	font-size 0

	&__cell {
		margin-bottom 93px
		display inline-block
		vertical-align top
		box-sizing border-box
		padding 0 28px
		width 376px
		font-size 1rem
	}
}

.feature {

	overflow hidden

	&__head {
		margin-bottom 43px
		position relative
	}

	&__dash {
		position absolute
		top 50%
		transform translateY(-2px) translateZ(0)
		width 74px
		height 4px
		color inherit

		&_left {
			// left 0
			right 50%
			margin-right 68px
		}

		&_right {
			// right 0
			left 50%
			margin-left 68px
		}
	}

	&__icon {
		margin auto
		display block
		width  96px
		height 96px
	}

	&__title {
		margin 0 0 13px
		font-size 24px
		font-weight 600
	}

	&__text {
		line-height 1.33
	}
}

.shedule {
	position relative
	padding-left  148px
	padding-right 148px

	&::before {
		content ""
		position absolute
		top 0
		left 0
		right 0
		height 64px
		background #fff801
	}

	&__wrap {
		margin-left -148px
		overflow auto
	}

	table {
		position relative
		width 100%
		table-layout fixed
		border-collapse separate
		border-spacing 0

		tr {
			position relative
		}

		th
		td {
			padding-right 38px
			vertical-align middle
			text-align left
			font-weight normal

			&:first-child {
				width 110px

				& > div {
					width  40px
					height 40px
					line-height 40px
					text-align center
					font-size 11px
					font-weight bold
					letter-spacing 1.4px
					text-transform uppercase
					color #3f4d60
					background #fff801
					border-radius 50%
				}
			}
		}

		thead {
			th {
				height 64px
			}
		}

		tbody {
			th
			td {
				height 108px
			}

			td {
				font-size 16px
				border-bottom 1px solid #ebedef

				&:last-child {
					padding-right 0
				}

				&:empty::before {
					content "—"
				}
			}
		}
	}
}

.doc-section {
	padding-top 56px
	text-align center

	&__download {
		min-width 216px
	}

	&__container {
		position relative

		&::before {
			content ""
			position: absolute
			right 0
			top 18px
			width 65px
			height 11px
			background url("../img/crosses.svg") no-repeat
		}
	}
}


.form-section {
	padding 85px 0 104px
	font-size 0
	text-align center
	background #fbfbfc

	&__cell {
		display inline-block
		vertical-align top
		box-sizing border-box
		padding 0 28px
		// width 376px
		width 50%
		font-size 1rem

		&_align_left {
			text-align left
		}
	}

	&__title {
		margin 0 0 24px
		font-size 24px
		font-weight 600
	}

	&__text {
		margin 0 0 29px
	}
}

.requset-form {
	position relative
	margin-left auto
	margin-right auto
	max-width 480px

	&__input {
		margin-bottom 16px
		display block
		width 100%
	}

	&__submit {
		margin-top 24px
	}

	&::after {
		content: "";
		position: absolute;
		left: 100%;
		margin-left 63px
		bottom 22px
		width: 56px;
		height: 22px;
		background: url("../img/yellow-arrows.svg") no-repeat;
	}

	&_in-cell {
		margin-left  -8px
		margin-right -8px
		max-width none

		&::after {
			left auto
			right 0
		}
	}
}

.time-place {
	padding 93px 0 42px
	text-align center

	&__container::before {
		content ""
		position absolute
		left 14px
		top 6px
		width 56px
		height 22px
		background url("../img/dark-arrows.svg") no-repeat
	}

	&::after {
		content ""
		display block
		margin 22px auto 0
		width 48px
		height 48px
		background url("../img/icon-clock.svg") no-repeat
	}

	&__title {
		position relative
		display inline-block
		vertical-align top

		&::before {
			content ""
			position absolute
			left 100%
			top 12px
			margin-left 30px
			width 65px
			height 11px
			background url("../img/crosses.svg") no-repeat
		}
	}
}

.map {
	height 378px
	background #f7f1d8
	background-size cover
}

.footer {
	line-height 40px
	background #fafbfc

	&__inner {
		display flex
		flex-wrap wrap
		align-items flex-start
		justify-content space-between
		padding-top    19px
		padding-bottom 19px
	}

	&__cell {
		padding 24px 0
	}

	&__copy {
		flex 0 0 auto
	}

	&__links {}
}

.social-link {
	margin 0 5px
	display inline-block
	vertical-align middle
	color inherit
	text-decoration none

	&:first-child {
		margin-left 0
	}

	&:last-child {
		margin-right 0
	}

	&__icon {
		display inline-block
		vertical-align middle
		opacity: 0.36;
		width  40px
		height 40px
		background none no-repeat 50%
		transition .2s

		&_facebook {
			background-image url("../img/icon-facebook.svg")
		}

		&_twitter {
			background-image url("../img/icon-twitter.svg")
		}

		&_youtube {
			background-image url("../img/icon-youtube.svg")
		}

		&_vk {
			background-image url("../img/icon-vk.svg")
		}

		&_in {
			background-image url("../img/icon-in.svg")
		}
	}

	&:hover &__icon {
		opacity 1
	}
}

.sections {

	&__item {
		display none

		&_active {
			display block
			animation showSection .5s ease-in-out both
		}

		@keyframes showSection {
			0% {
				opacity 0
			}
			100% {
				opacity 1
			}
		}
	}
}
