<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimal-ui, shrink-to-fit=no">
    <meta name="format-detection" content="address=no">
    <meta name="format-detection" content="telephone=no">
    <link rel="stylesheet" href="css/index.css">
    <script defer src="js/scripts.js"></script>
    <title>Periscope | ЛАБОРАТОРИЯ ЗНАНИЙ</title>
  </head>
  <body>
    <svg class="svg-defs" xmlns="http://www.w3.org/2000/svg">
      <symbol width="74" height="4" viewBox="0 0 74 4" id="dash-line">
        <path fill="none" stroke="#00D2FF" stroke-width="3" d="M2 2h79.62" stroke-linecap="round" stroke-dasharray="10"></path>
      </symbol>
    </svg>
    <div class="page">
      <h1 class="logo">Periscope</h1>
      <header class="header">
        <div class="container header__inner">
          <h2 class="header__title">
            <div class="header__text">
              <div>лаборатория</div>
              <div>знаний</div>
            </div>
          </h2>
          <div class="header__action"><a class="btn" href="#404">Записаться</a></div>
        </div>
      </header>
      <section>
        <div class="container">
          <h2 class="section__title">
            <nav class="page-nav"><a class="page-nav__link" href="#">Лаборатория</a><a class="page-nav__link" href="#">Продленка</a><a class="page-nav__link" href="#">Каникулы</a></nav>
          </h2>
        </div>
      </section>
      <section class="intro-section">
        <div class="info-block inner-container">
          <div class="info-block__inner">
            <p>Группа продленного дня — это отличный способ сделать уроки, погулять, пообедать и позаниматься по разным программам. Большой плюс заключается в том, что по всем занятиям не придется ездить, простаивая в пробках, утомляя себя и ребенка. Мы находимся в самом сердце города у Сквера оперного театра. Диетический и вкусный обед, прогулка</p>
            <p>в парке снимут усталость, оздоровят, наполнят детскую душу покоем и радостью. Мы тщательно сделаем все уроки, убедимся, что материал усвоен.</p>
            <p>При необходимости позанимаемся по предмету дополнительно. Удивительно, что ребята незаметно для себя становятся аккуратными, усидчивыми и внимательными!</p>
          </div>
        </div>
      </section>
      <section class="section">
        <div class="inner-container">
          <h2 class="section__title">Программы</h2>
          <div class="inner-container">
            <div class="features">
              <div class="features__cell">
                <div class="feature">
                  <div class="feature__head" style="color: #00d2ff">
                    <svg class="feature__dash feature__dash_left">
                      <use xlink:href="#dash-line"></use>
                    </svg>
                    <svg class="feature__dash feature__dash_right">
                      <use xlink:href="#dash-line"></use>
                    </svg><img class="feature__icon" src="img/features/4.svg" width="96" height="96">
                  </div>
                  <div class="feature__title">Пятый элемент</div>
                  <div class="feature__text">Познаем мир. Ставим химические, физические и биологические опыты</div>
                </div>
              </div>
              <div class="features__cell">
                <div class="feature">
                  <div class="feature__head">
                    <svg class="feature__dash feature__dash_left">
                      <use xlink:href="#dash-line"></use>
                    </svg>
                    <svg class="feature__dash feature__dash_right">
                      <use xlink:href="#dash-line"></use>
                    </svg><img class="feature__icon" src="img/features/1.svg" width="96" height="96">
                  </div>
                  <div class="feature__title">Анатомия здоровья</div>
                  <div class="feature__text">Изучаем свой организм. Узнаем, как ухаживать за своим телом и его органами</div>
                </div>
              </div>
              <div class="features__cell">
                <div class="feature">
                  <div class="feature__head">
                    <svg class="feature__dash feature__dash_left">
                      <use xlink:href="#dash-line"></use>
                    </svg>
                    <svg class="feature__dash feature__dash_right">
                      <use xlink:href="#dash-line"></use>
                    </svg><img class="feature__icon" src="img/features/2.svg" width="96" height="96">
                  </div>
                  <div class="feature__title">Творческая мастерская</div>
                  <div class="feature__text">Раскрываем свой потенциал. Рисуем, лепим, мастерим</div>
                </div>
              </div>
              <div class="features__cell">
                <div class="feature">
                  <div class="feature__head">
                    <svg class="feature__dash feature__dash_left">
                      <use xlink:href="#dash-line"></use>
                    </svg>
                    <svg class="feature__dash feature__dash_right">
                      <use xlink:href="#dash-line"></use>
                    </svg><img class="feature__icon" src="img/features/9.svg" width="96" height="96">
                  </div>
                  <div class="feature__title">Интеллектуальный клуб</div>
                  <div class="feature__text">Играем, взаимодействуем в команде, учимся распределять роли, расширяем кругозор</div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section class="section doc-section">
        <div class="inner-container doc-section__container">
          <h2 class="section__title"><a class="btn btn_outline doc-section__download" href="#">Скачать PDF</a></h2>
          <div><span>Кроме того, вы можете следить за расписанием в нашем паблике во Вконтакте —</span>
            <div><a class="link" href="www.vk.com/periscopekids" target="_blank">www.vk.com/periscopekids</a></div>
          </div>
        </div>
      </section>
      <section class="section form-section">
        <div class="inner-container">
          <h2 class="form-section__title">Оставить заявку</h2>
          <p class="form-section__text">Оставьте заявку или зайдайте вопрос и наш менеджер свяжется <br>с вами в ближайшее время</p>
          <form class="requset-form" action="" name="">
            <input class="text-input requset-form__input" placeholder="Ваше имя">
            <input class="text-input requset-form__input" placeholder="Ваш номер телефона">
            <button class="btn requset-form__submit" type="submit">Отправить заявку</button>
          </form>
        </div>
      </section>
      <section class="section time-place">
        <div class="container time-place__container">
          <div class="inner-container">
            <h2 class="section__title time-place__title">Время и место</h2>
            <div>
              <div>Занятия проходят во внеурочное время по будням с 8:00 до 13:30 и с 13:30 до 19:00</div>
              <div>по адресу Советская, 21 (вход со двора), телефон: +7 (901) 112-64-15</div>
            </div>
          </div>
        </div>
      </section>
      <section class="map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?sid=BYVNa9W_D1PWSzMavApSQr0ys37smCj0&amp;amp;width=100%&amp;amp;height=378&amp;amp;lang=ru_RU&amp;amp;sourceType=constructor&amp;amp;scroll=true"></script>
      </section>
      <footer class="footer">
        <div class="footer__inner inner-container">
          <div class="footer__cell footer__copy">© Periscope, Perm 2015</div>
          <div class="footer__cell footer__links"><a class="social-link" href="#404" target="_blank"><span class="social-link__icon social-link__icon_vk"></span></a><a class="social-link" href="#404" target="_blank"><span class="social-link__icon social-link__icon_in"></span></a></div>
        </div>
      </footer>
    </div>
  </body>
</html>